.el-checkbox__label {
    padding-left: 0;
    padding-right: 10px;
}

.form-check {
    padding-right: 0;
}

.nav-search {
    border-radius: 25px;
}

.nav-login {
    border-radius: 0 20px 20px 0 !important;
    margin-left: 0 !important;
}

.nav-signup {
    border-radius: 20px 0 0 20px !important;
}

.nav-signup:hover {
    text-decoration: none;
}

.el-menu-item-group {
    background-color: #fff;
    border-bottom: #dee2e6 solid 1px;
    border-top: #dee2e6 solid 1px;
}

.el-submenu__icon-arrow {
    right: unset;
    left: 20px;
}

.el-button [class*="el-icon-"] + span {
    margin-left: unset;
    margin-right: 5px;
}

.el-upload-list--picture-card .el-upload-list__item {
    margin: 0 0 8px 8px;
}